<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->


<div class="container">
  <!-- <nav class="nav">Header</nav> -->
  <nav class="nav">
     <!-- Navbar SVG logo -->
       <div class="logo"> APOLLO EXPRESS GRAPHQL
         <!-- <svg width="112" height="28" viewBox="0 0 112 34">
           ...
         </svg> -->
       </div>
       <!-- <div> first</div>
       <div> second</div> -->
  </nav>
 <div class="aside">
  <ul class="navigation">
  
    <li>
      <a tooltip="Rules" class="active" (click)= "fetchLaunches()"><i></i><span>Space X Rest API</span></a>
    </li>
    <li>
      <a  tooltip="Taxonomy" (click)= "fetchAlbums()"><i></i><span>Spotify Albums</span></a>
    </li>
    <li>
      <a tooltip="Reporting"><i></i><span>Combination</span></a>
    </li>
    <li>
      <div class="divider"></div>
    </li>
    <li>
        <a href="https://engine.apollographql.com/org/causeway-technolgoies/graphs" tooltip="Error Reporting"><i></i><span>Graph Manager</span></a>
      </li>
    <li>
      <a href="https://console.cloud.google.com/errors?project=priv-sample-gcp" tooltip="Error Reporting"><i></i><span>Error Reporting</span></a>
    </li>
    <li>
      <a href="https://www.apollographql.com/docs/" tooltip="Documentation"><i></i><span>Documentation</span></a>
    </li>
  </ul>
 </div>

 <div class="main">
  <div *ngIf="launches&& active==='launch'">
  <div class="release" *ngFor="let launch of launches">
    <!-- <div style="padding:20px 20px" >{{launch.id}}    <span style="padding:40px 20px">{{launch.site}}</span></div> -->
    <div  >{{launch.id}}   </div>
      <div >{{launch.site}}</div> 
      <!-- <div >{{release.release_date}}</div> -->
 
  </div>
  </div>
  <div *ngIf="releases&& active==='release'">
    <div class="release" *ngFor="let release of releases">
      <div *ngIf="release.id" >{{release.id}}   </div>
      <div >{{release.name}}</div> 
      <div >{{release.release_date}}</div>
    </div>
    </div>
 </div>

 <div class="footer"></div>
</div>

<router-outlet></router-outlet>
